# Dependencies
node_modules

# Build output
dist
dist-ssr
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen/schemas

# Logs
*.log
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
